xxl.job.admin.addresses={{.Env.EMPTYXXL_ADMIN_ADDRESSES}}
xxl.job.accessToken={{.Env.EMPTYXXL_ACCESS_TOKEN}}
xxl.job.executor.appname={{.Env.EMPTYXXL_APP_NAME}}
xxl.job.executor.address={{.Env.EMPTYXXL_ADDRESS}}
xxl.job.executor.ip={{.Env.EMPTYXXL_IP}}
xxl.job.executor.port={{.Env.EMPTYXXL_PORT}}
xxl.job.executor.logpath={{.Env.EMPTYXXL_LOG_PATH}}
xxl.job.executor.logretentiondays={{.Env.EMPTYXXL_LOG_RENTENTION_DAYS}}